/* Add custom styles here */
.bd-mode-toggle {
    z-index: 1500;
  }

  .bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
  }

  .label-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
  }
  .card {
    margin: 20 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
  }
  .card-body {
    padding: 30px;
  }